<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649863208156-pku97sfdfsahj9r9b7tcavq739780a9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649863208156-pku97sfdfsahj9r9b7tcavq739780a9u</string>
	<key>API_KEY</key>
	<string>AIzaSyACZ8CQ-KplcjqwCb3EXyBHIogKQKlqCTY</string>
	<key>GCM_SENDER_ID</key>
	<string>649863208156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info121.iTitaLimo</string>
	<key>PROJECT_ID</key>
	<string>limonative</string>
	<key>STORAGE_BUCKET</key>
	<string>limonative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649863208156:ios:6e45bb4306dee343e66819</string>
	<key>DATABASE_URL</key>
	<string>https://limonative.firebaseio.com</string>
</dict>
</plist>